name: Publish Release

on:
  push:
    branches:
      - release/v1.6.1
  pull_request:
    types:
      - closed
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # For publishing to npm using --provenance

jobs:
  rl-scanner:
    uses: ./.github/workflows/rl-secure.yml
    with:
      node-version: 18
      artifact-name: "node-oauth2-jwt-bearer.tgz"
    secrets:
      RLSECURE_LICENSE: ${{ secrets.RLSECURE_LICENSE }}
      RLSECURE_SITE_KEY: ${{ secrets.RLSECURE_SITE_KEY }}
      SIGNAL_HANDLER_TOKEN: ${{ secrets.SIGNAL_HANDLER_TOKEN }}
      PRODSEC_TOOLS_USER: ${{ secrets.PRODSEC_TOOLS_USER }}
      PRODSEC_TOOLS_TOKEN: ${{ secrets.PRODSEC_TOOLS_TOKEN }}
      PRODSEC_TOOLS_ARN: ${{ secrets.PRODSEC_TOOLS_ARN }}

  release:
    uses: ./.github/workflows/npm-release.yml
    needs: rl-scanner
    with:
      node-version: 18
      require-build: true
      release-directory: "./packages/express-oauth2-jwt-bearer"
    secrets:
      npm-token: ${{ secrets.NPM_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
