name: Build and Test

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  NODE_VERSION: 24
  CACHE_KEY: "${{ github.ref }}-${{ github.run_id }}-${{ github.run_attempt }}"

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['20', '22', '24']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: ./.github/actions/build
        with:
          node: ${{ matrix.node-version }}

      - name: Save build artifacts
        uses: actions/cache/save@v5
        with:
          path: .
          key: ${{ env.CACHE_KEY }}

  unit:
    needs: build # Require build to complete before running tests

    name: Run Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['20', '22', '24']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - uses: actions/cache/restore@v5
        with:
          path: .
          key: ${{ env.CACHE_KEY }}

      - run: npm run test

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # pin@5.5.2

  lint:
    needs: build # Require build to complete before running tests

    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - uses: actions/cache/restore@v5
        with:
          path: .
          key: ${{ env.CACHE_KEY }}

      - run: npm run lint
